<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.rubychinaandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Theme.AppCompat -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PostActivity"
            android:label="@string/title_activity_read_post" >
        </activity>
        <activity
            android:name=".activity.ReplyActivity"
            android:label="@string/title_activity_reply_post" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.NewActivity"
            android:label="@string/title_activity_new" >
        </activity>
        <activity
            android:name=".activity.PreviewActivity"
            android:label="@string/title_activity_preview" >
        </activity>
        <activity
            android:name=".activity.PhotoViewActivity"
            android:label="@string/title_activity_photoview" >
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".activity.FavouriteActivity"
            android:label="@string/title_activity_favourite" >
        </activity>
    </application>

</manifest>
